<style>
  .item p {
    font-size: 13px;
  }
</style>
<ion-view view-title="诗人">
  <ion-content>

    <div class="item item-input-inset">

      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="共有{{authors.length}}位诗人" ng-model="keyword.content" style="width: 100%">
      </label>

      <button class="button button-small button-outline button-stable" ng-click="searchAuthor()">搜索</button>
    </div>

    <div ng-if="avaliableAuthors.length == 0" class="text-center" style="padding-top: {{halfPhoneHeight}}px;">
      <ion-spinner icon="lines" class="spinner-balanced"></ion-spinner>
    </div>

    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="author in avaliableAuthors"
                type="item-text-wrap"
                ng-click="showDialog(author)">
        <img ng-if="author.avatar" ng-src="img/{{author.avatar}}">
        <img ng-if="!author.avatar" ng-src="img/default-avatar.png">

        <h2>{{author.name}}</h2>

        <p style="padding-top: 5px">{{author.desc[0]}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-balanced" ng-click="collectAuthor(author)">
          收藏
        </ion-option-button>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadNextPage()" immediate-check="false">

    </ion-infinite-scroll>
  </ion-content>
</ion-view>
