<ion-view>
  <ion-content>
<!-- ng-if="authors.length == 0" -->
      <div ng-if="authors.length == 0" class="text-center" style="padding-top: {{halfPhoneHeight - 30}}px;">

          <p>腹有诗书气自华</p>

      </div>

      <div ng-if="authors.length > 0">

          <ion-list>
              <div class="item-avatar" collection-repeat="author in authors" collection-item-height="'80px'" collection-item-width="'16%'">
                  <img ng-src="img/{{author.avatar}}" ng-click="showAuthorPopover($event, author)">
              </div>
          </ion-list>

      </div>

  </ion-content>
</ion-view>
