<style>
  .item p {
    font-size: 13px;
  }
</style>
<ion-view>


  <ion-content>

    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="诗文名称或拼音" ng-model="keyword.content" ng-change="search()" style="width: 100%">
      </label>
    </div>

    <div class="item item-divider">
      <p>共有<span class="deep-red">{{allPoems.length}}</span>篇诗文</p>
    </div>

    <div ng-if="avaliablepoems.length == 0" class="text-center" style="padding-top: {{halfPhoneHeight - 43}}px;">
      <ion-spinner icon="lines" class="spinner-balanced">
        腹有诗书气自华
      </ion-spinner>
    </div>

    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="poem in avaliablepoems"
                type="item-text-wrap"
                ng-click="showDialog(poem)">
        <img ng-if="poem.avatar" ng-src="img/{{poem.avatar}}">
        <img ng-if="!poem.avatar" ng-src="img/default-avatar.png">

        <h2>{{poem.title}}</h2>
        <p ng-if="poem.author">{{poem.author.name}} ○ {{poem.author.period}}</p>
        <p>{{poem.content.join('  ')}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          收藏
        </ion-option-button>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadNextPage()" immediate-check="false"></ion-infinite-scroll>
  </ion-content>
</ion-view>
