<ion-modal-view ng-class="{'center' : poem.content.length < 10 }">


  <ion-content class="single-poem-background fullscreen-content" ng-class="{'center' : poem.content.length < 10 }" on-double-tap="closeDialog()" on-tap="closeDialog()" on-hold="showAuthorPopover($event)">

    <ion-list>
      <h4 class="poem-item" style="margin-top: 2em;" ng-bind-html="poem.title"></h4>

      <ion-item class="poem-item" ng-repeat="sentence in poem.content track by $index" style="background: inherit !important;">
        <p class="fixed-poem-sentence" ng-bind-html="sentence"></p>
      </ion-item>

    </ion-list>

    <br>

  </ion-content>

  <!--<button class="button poem-button-left" ng-click="closeDialog()">-->
    <!--<i class="icon ion-ios-arrow-left"></i>-->
  <!--</button>-->

  <!--<button class="button poem-button-right" ng-click="showAuthorPopover($event)">-->
    <!--<i class="icon ion-ios-person-outline"></i>-->
  <!--</button>-->

  <!--<i class="icon ion-android-favorite-outline deep-red like-button"></i>-->

</ion-modal-view>
