<ion-modal-view>

  <ion-content ng-click="closeStatisticsDialog()">

      <nvd3 options="authorPeriodAvgAgeOption" data="authorPeriodAvgAge"></nvd3>
      <nvd3 options="periodAuthorsOption" data="periodAuthors"></nvd3>
      <nvd3 options="authorPeriodAvgAgeOption" data="authorPeriodAvgAge"></nvd3>
      <nvd3 options="authorPeriodAvgAgeOption" data="authorPeriodAvgAge"></nvd3>
      <nvd3 options="authorPeriodAvgAgeOption" data="authorPeriodAvgAge"></nvd3>

  </ion-content>

</ion-modal-view>
